<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.WishMapper">

	<select id="getRow" resultType="com.spring.domain.WishListDTO">
		select title, tel, addr1, firstimag2 from member_wish
	</select>
	
	<insert id="insert">
		insert into member_wish(title, tel, firstimage2, addr1, contentid)
		values(#{title}, #{tel}, ##{firstimag2}, #{addr1}, #{contentid})
	</insert>
	
	<delete id="delete">
		delete from member_wish where contentid = #{contentid}
	</delete>
</mapper>